= content_tag :textarea, text_body, tabIndex: 3, class: "form-control small-textarea", id: "comment_body", name: "comment[body]"

javascript:
  // Simditor
  $(document).on('ready page:load', function(){
    var editor = new Simditor({
      textarea: $('#comment_body'),
      toolbar: ['bold', 'italic', 'underline', 'strikethrough', '|', 'ol', 'ul', 'blockquote', 'code', '|', 'link', 'image'],
      upload: {
        url: '/attachments',
        params: null,
        connectionCount: 3,
        leaveConfirm: '正在上传文件，如果离开上传会自动取消'
      }
    });
  });
