= form_for @topic, remote: true, html: { class: 'topic-form' } do |f|
  .row
    .col-md-9
      .form-group
        = f.text_field :title, class: 'form-control', placeholder: t('.title'), tabIndex: 1
    .col-md-3
      .form-group
        = f.collection_select :category_id, Category.order(topics_count: :desc), :id, :name, { include_blank: t('.no_category')}, class: 'form-control', tabIndex: 2
  .form-group
    = f.text_area :body, id: "topic_body"
  - if topic.new_record?
    = f.submit t('.create_topic'), class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => t('.create_topic')
  - else
    = f.submit t('.save_changes'), class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => t('.save_changes')
    '
    a.btn.btn-default href=topic_path(@topic) tabIndex="5"
      = t '.cancel'

- form_id = @topic.new_record? ? 'new_topic' : "edit_topic_#{@topic.id}"

javascript:
  var editor = new Simditor({
    textarea: $('#topic_body'),
    toolbar: window.campo.toolbar,
    upload: {
      'url': '/attachments',
      'params': null,
      'fileKey': window.campo.file_key,
      'connectionCount': 3,
      'leaveConfirm': '正在上传文件，如果离开上传会自动取消'
    }
  });

  $("body").delegate(".panel-body", "submit", function(){
    var topic_title = $.trim( $("#topic_title").val() ) == "";

    if(topic_title){
      var _title = $("#topic_title");
      var _parent = _title.parent(".form-group");
      _title.after("<span class=\"help-block\">不能为空字符</span>");
      _parent.addClass("has-error");

      setTimeout(function(){
        _parent.removeClass("has-error");
        _parent.find(".help-block").remove();
      }, 1300);
      return false;
    }

    var topic_body  = $.trim( $("#topic_body").val() )  == "";

    if(topic_body){
      var _body = $(".simditor");
      var _parent = _body.parent(".form-group");
      _body.after("<span class=\"help-block\">不能为空字符</span>");
      _parent.addClass("has-error");

      setTimeout(function(){
        _parent.removeClass("has-error");
        _parent.find(".help-block").remove();
      }, 1300);

      return false;
    }
  });
