= form_for category, url: url_for([:admin, category]), html: { class: 'category-form' } do |f|
  = render 'share/flash_messages'
  = render 'share/form_error_messages', form: f
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', tabIndex: 1
  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control', tabIndex: 2
  .form-group
    = f.label :description
    = f.text_area :description, tabIndex: 3
  - unless @category.new_record?
    .form-group
      = f.label :topics_count
      = f.text_field :topics_count, class: 'form-control', disabled: true
  .clearfix
    - if category.new_record?
      = f.submit t('.create_category'), class: 'btn btn-success', tabIndex: 4
    - else
      = f.submit t('.save_changes'), class: 'btn btn-success', tabIndex: 4
      .pull-right
        a.btn.btn-danger href=admin_category_path(@category) data-method="delete" data-confirm=t('.permanently_delete_confirm')
          = t '.permanently_delete'

javascript:
  var toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', '|', 'source'];
  var editor = new Simditor({
    textarea: $('#category_description'),
    toolbar: toolbar,
    upload: {
      'url': '/attachments',
      'params': null,
      'fileKey': 'upload_file',
      'connectionCount': 3,
      'leaveConfirm': '正在上传文件，如果离开上传会自动取消'
    }
  });

  $("body").delegate("#category-form", "submit", function(){
    var _this = $(this);
    var category_name = $.trim( _this.find("#category_name").val() ) == "";

    if(category_name){
      var _name = _this.find("#category_name");
      var _parent = _name.parent(".form-group");
      _name.after("<span class=\"help-block\">不能为空字符</span>");
      _parent.addClass("has-error");

      setTimeout(function(){
        _parent.removeClass("has-error");
        _parent.find(".help-block").remove();
      }, 1300);

      return false;
    }

    var category_slug = $.trim( _this.find("#category_slug").val() ) == "";

    if(category_slug){
      var _slug = $("#category_slug");
      var _parent = _slug.parent(".form-group");
      _slug.after("<span class=\"help-block\">不能为空字符</span>");
      _parent.addClass("has-error");

      setTimeout(function(){
        _parent.removeClass("has-error");
        _parent.find(".help-block").remove();
      }, 1300);

      return false;
    }
  });
