/*
 *= require font-awesome
 *= require simditor
*/


$font-size-base: 15px;
$brand-primary: #3498db !default;
$grid-gutter-width:         30px !default;
$container-large-desktop:   ((940px + $grid-gutter-width)) !default;

@import "bootstrap";
@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "markdown";

body {
  background: #eee;
  background-image: url(image_path('bg.gif'));
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
