/*
 *= require font-awesome
 *= require simditor
*/


$font-size-base: 15px;
$brand-primary: #3498db !default;
$grid-gutter-width:         30px !default;
$container-large-desktop:   ((770px + $grid-gutter-width)) !default;
$container-desktop: ((770px + $grid-gutter-width)) !default;

@import "bootstrap";
@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "markdown";

body {
  font-family: "Microsoft YaHei",微软雅黑;
  background: #eee;
  background-image: url(image_path('bg.gif'));
}

html, body, .main {height: 100%;}
body > .main {height: auto; min-height: 100%;}
.main {padding-bottom: 60px;}

.footer {
  position: relative;
  margin-top: -38px; /* footer高度的负值 */
  height: 60px;
  clear:both;
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
