.topics-header {
  @media (max-width: $grid-float-breakpoint) {
    .row > div {
      margin-bottom: $line-height-computed / 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-topic .markdown-area {
  textarea {
    height: 12em;
  }

  .preview {
    min-height: 12em;
  }
}

// topics small-textarea style on textarea
textarea.small-textarea {
  height: 100px;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0px;
  width: 100%;
  padding: 8px 10px;
}

// topics simditor small style
form.small-textarea {
  .simditor-body {
    min-height: 120px;
    padding-bottom: 22px;
  }
}

.text-center {
  text-align: center;
}
